 
 body{
        padding: 20px;
        background-color:#eee;
        font-family: "Poppins", sans-serif;
        font-weight: 300;
     
       }

       .height{
        height: 10vh;
       }
       

       .search{
        border-radius: 30px;
        align-self: center;
        width: 500px;
       position: relative;
       box-shadow: 0 0 40px rgba(51, 51, 51, .1);
         
       }

       .search input{

         border-radius: 30px;
        height: 40px;
        text-indent: 25px;
        border: 2px solid #d6d4d4;


       }


        .search input:focus{
           
        box-shadow: none;
        border: 2px solid blue;


       } 

       .search button{

        position: absolute;
        top: 5px;
        right: 5px;
        height: 30px;
        width: 110px;
        background: rgb(63, 118, 226);

       }  
      